div:hover:nth-of-type(0n+1) {
    border: 2px solid red;
}

div:hover:nth-of-type(0n+2) {
    border: 2px solid yellow;
}

div:hover:nth-of-type(0n+3) {
    border: 2px solid blue;
}

div:hover:nth-of-type(0n+4) {
    border: 2px solid darkgreen;
}

div:hover:nth-of-type(0n+5) {
    border: 2px solid lightgreen;
}